terraform {

  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 4.0"
    }
  }

   backend "s3" {
    bucket = "S3_BUCKET_TERRAFORM"
    key    = "terraform.tfstate"
    region = "REGION"
  }
}

provider "aws" {
  region = var.aws_region
}

data "aws_caller_identity" "current" {}
